body {
  margin: 0;
  padding: 0;
  bottom: 190px;
  background-image: linear-gradient(#00408c, #cdd6e0);
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: auto;
  position: relative;
  background-color: transparent;
  display: flex;
}

.team {
  padding: 40px 15px;
  width: 100%;
}
.team h1 {
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  color: black;
  margin: 0;
  padding-bottom: 60px;
  text-align: center;
}
.team h2 {
  color: black;
}
.team p {
  color: black;
}

.team .card {
  width: 25%;
  padding: 0px 15px;
  transition: transform 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}
.team .card .box img {
  width: 250px;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 2px 5px 30px 2px grey;
  cursor: pointer;
  border: 3px solid white;

}

.heading {
  text-align: center;
  margin-top: 15px;
  font-style: italic;
  font-size: 38px;
}

.common {
  width: auto;
  margin-bottom: 7%;
}

#details {
  margin-left: 40%;
  width: 400px;
  padding-left: 25px;
  padding: 10px;
  border-radius: 20px;
  
}

.navigation_bar { 
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0,0, 0.8);
  padding: 0;
  }

nav ul{
  display: inline;
  float: right;
  position: relative;
  }


nav ul li{
  float: right;
  cursor: pointer;
  list-style: none;
  }

nav ul li a{
  text-decoration: none;
  padding: auto;
  font-size: 22px;
  margin: 0 25px;
  position: relative;
  color: white;
}

nav ul li a:before,nav ul li a:after{
  content:'';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color:white;
  left:0;
  transform: scaleX(0);
  transition : all 0.5s;
}
          
nav ul li a:before{
  top:-5px;
  transform-origin: left;
}

nav ul li a:after{
  bottom:-6px;
  transform-origin: right;
}
              
nav ul li a:hover:before,
nav ul li a:hover:after{
  transform: scaleX(1);
}

#logo{
  margin-left: 10%;
  height: 100px;
}

#logoname{
  color: white;
  float: right;
  margin-left: 60%;
  display:  inline;
  margin-top: -90px;
}

#footer{
  position: unset;
  bottom: -260px;
  background-color: #000;
  width: 100%;
  height: 150px;

}

#slpl{
  color: #fff;
  margin-top: 65px;
  margin-left: 25px;
  display: inline;
  float: left;
  position: relative;
}

.spon{
  display: inline;
  float: left;
  position: relative;
  height: 50px;
  padding-left: 20px;
}

#sponsor1{
  margin-top: 20px;
  float: left;
  margin-left: 120px;

}

#sponsor2{
  float: left;
  margin-top: 90px;
  margin-left: -325px;
}

#teams{
  color:white;
  font-style: italic;
}

#team1{
  line-height: 35px;
  float: left;
  margin-left: 120px;
}

#team2{
  line-height: 35px;
  float: left;
  margin-left: 70px;
}

#social{
  margin-top: 2%;
  position: relative;
  text-align: center;
  margin-left: 75%;
  /* padding: 20px; */

}

#fb{
  padding-left: 25px;
  height: 50px;
}

#insta{
  height: 55px;
  padding-left: 25px;
}

#twitter{
  padding-top: 15px;
  height: 65px;
  padding-left: 17px;
}
